{% extends "base.html" %}

{% block content %}
        {% for error in form.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <div class="field">
                <div>
                    <input class="form-control" name="username" placeholder="Your Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div>
                    <input class="form-control" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
<!--            <div class="field">-->
<!--                <label class="checkbox">-->
<!--                    <input type="checkbox" name="remember">-->
<!--                    Remember me-->
<!--                </label>-->
<!--            </div>-->
            <button class="btn btn-primary" name="login">Login</button>
        </form>
    </div>
</div>
{% endblock %}